header{
    height: 76px;
    display: flex;
    background-color: black;
}

.header_container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.container_grid_element{
    display: grid;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: inherit;
  }