* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Ubuntu";
    background-color: #161616;
    color: #f7f8fa;
    margin: auto;
    font-size: 24px;
  }

  h1{
    font-family: 'Piazzolla';
    font-weight: 700;
    color: #FFF;
    font-size: 64px;
  }

  h2{
    font-weight: 500;
    font-family: 'Piazzolla';
    color: #fafbfd;
    font-size: 48px;
  }
  
  h3{
    font-family: 'Piazzolla';
    font-weight: 500;
    color: #fafbfd;
    font-size: 24px;
  }

  .bc2{
    font-family: "Ubuntu";
    color: #f7f8fa;
    font-size: 14px;
  }

  .bc3{
    font-family: "Ubuntu";
    color: #87694E;
    font-size: 12px;
  }
