.start_container{
margin-bottom: 40px;
}

.start_container main {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3,400px);
    gap: 20px
}

.start_container h1{
    margin: 40px;
    margin-bottom: 40px;
    place-self: center;
}

.container_element{
    height: 400px;
    display: grid;
    justify-content: center;
}

.image{
    border-radius: 5px;
    width: 400px;
    height: 200px;
    background-color: orange;
}

.text{
    height: 150px;
}

.button_container{
    display: flex;
    
    height: 48px;

    button{
        flex-grow: 1;
    }
}

.join_button_container{
    justify-content: space-between;
    display: grid;
    grid-template-columns: 295px 85px;
    height: 48px;
}