.btn {
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-weight:400;
    font-family: "Ubuntu";
  }
  
  .btn-small {
    padding: 0px;
    font-size: 14px;
  }
  
  .btn-medium {
    padding: 8px;
    font-size: 24px;
  }
  
  /* Варіанти кольорів */
  .btn-primary {
    background-color: #DC791E;
    color: #161616;
  }
  
  .btn-primary:hover {
    box-shadow: 0px 0px 10px 0px #FFF;
  }
  
  .btn-primary:active{
    background-color: #B26218;
  }

  .btn-secondary {
    border: solid #A54018 1px;
    background-color: #161616;
    color: #A54018;
  }
  
  .btn-secondary:hover {
    color:#DC791E;
    border: solid #DC791E 1px;
    background-color: #1F1B18;
  }

  .btn-secondary:active{
    border: solid #995415 1px;
    color:#995415;
  }

  .btn:disabled {
    
    box-shadow: none;
    cursor: not-allowed;
    border: solid #3D3D3D 2px;
    background-color: #161616;
    color: #3D3D3D;
  }
  
  